.container {
  width: 100%;
  // background: var(--light-shade);
  padding: 40px 0;

  & > div {
    width: 75%;
    text-align: center;
    margin: auto;
  }

  .largeIcon {
    height: 60px;
    width: 60px;
    margin: 15px;
  }

  @media only screen and (max-width: 600px) {
    & > div {
      width: 90%;
    }

    .largeIcon {
      height: 45px;
      width: 45px;
      margin: 10px;
    }
  }
}
