.container {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 0;

  & > div {
    width: 75%;
    color: white;
    text-align: center;
    margin: auto;
  }

  .largeIcon {
    height: 60px;
    width: 60px;
    margin: 15px;
  }
}
