.profileCard {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 60px;
  width: 100%;

  .hello {
    text-align: center;
    font-size: 2em;
  }

  .profileText {
    justify-self: flex-start;
    margin-right: auto;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.4em;
      color: var(--button-color);
    }
  }
}
