.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  input,
  textarea {
    width: 50%;
    margin: 10px 0;
    font-size: 1.5em;
    padding: 10px;
    background: none;
    outline: none;
    border: 1px solid white;
    color: white;
  }
}
