.formContainer {
  text-align: center;
  min-height: 380px;
  padding: 40px 0;

  .form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p {
      color: red;
      font-size: 1.2em;
    }
  }
}

.thankYouContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 380px;
}
