.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  width: 100;
  margin: 30px;
}

.description {
  /* background-color: red; */
  width: 50%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.image {
  /* background-color: blue; */
  width: 50%;
  display: flex;
  align-items: center;
}

.cardImageDiv {
  padding: 20px;
}

.cardImage {
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: auto;
}

.cardText {
  padding: 10px 30px;
}

h3 {
  text-align: justify;
}

button {
  padding: 15px 50px;
  margin: 10px;
  border: solid 2px var(--button-color);
  background: none;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
}

.view-code-button {
  background-color: var(--button-color);
  color: #000;
}

button:hover {
  background-color: var(--button-color);
  color: black;
}

.view-code-button:hover {
  background-color: transparent;
  color: white;
}

.devicon {
  max-width: 10em;
  height: 35px;
  width: 35px;
  margin: 5px 10px;
}

@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .description {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}
