.contact-card {
    text-align: center;
    background-color: black;
    margin-top: none;
    color: white;
}

.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header-f {
    margin-top: 0;
    padding-top: 10px;
}

.social-link {
    filter: invert(100%);
    opacity: 0.6;
    padding: 0px 5px 10px 5px;
}

.social-link:hover{
    opacity: 1;
}
