body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --button-color: #f7df1e;
  --text-color: #fefefe;
}

.tooltip {
  max-width: 300px;
  width: auto;
  background: rgba($color: #000000, $alpha: 1) !important;
  border: none;
  border-radius: 15px !important;
  opacity: 1 !important;
  transition: none !important;
  line-height: 1.5em;
  font-size: 1.1rem !important;

  a {
    color: var(--button-color);
  }

  h4 {
    margin: 5px 0;
  }
}
