:root {
  --button-color: #f9bc60;
  --text-color: #fffffe;
  --background-color: #004643;
  --link-color: #abd1c6;
  --button-text-color: #001e1d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tooltip {
  max-width: 300px;
  width: auto;
  background: var(--text-color) !important;
  color: var(--background-color) !important;
  border: none;
  border-radius: 15px !important;
  opacity: 1 !important;
  transition: none !important;
  line-height: 1.5em;
  font-size: 1.1rem !important;
  padding: 10px 20px !important;

  a {
    color: var(--link-color);
  }

  h4 {
    margin: 5px 0;
  }
}

.margin-auto {
  margin: auto;
}
